.nameKingGgei {
  transform: translate(-6px, 56px);
}
.alexisNameGgei {
  transform: translate(324px, -51px);
}
/* ============== MEDIA QUERIES FOR GGEI PAGE HEADER IMAGES ================ */

@media (min-width: 397px) {
  .alexisNameGgei {
    transform: translate(353px, -12px);
  }
  .kingHeaderGgei {
    left: 201px;
    top: -401px;
  }
  .alexisHeaderGgei {
    left: -125px;
    top: 60px;
  }
}

@media (min-width: 420px) {
  .kingHeaderGgei {
    left: 212px;
    top: -294px;
  }
  .alexisHeaderGgei {
    left: -107px;
    top: 43px;
  }
  .alexisNameGgei {
    transform: translate(374px, 15px);
  }
  .slantedDivGgei {
    width: 405px !important;
  }
}

@media (min-width: 475px) {
  .kingHeaderGgei {
    left: 266px;
  }
  .alexisHeaderGgei {
    left: -65px;
    top: 23px;
  }
  .alexisHeaderGgeiImg {
    width: 196px;
    height: 234px;
  }
}

@media (min-width: 550px) {
  .alexisNameGgei {
    transform: translate(382px, 30px);
  }
  .nameKingGgei {
    transform: translate(-16px, 58.5px);
  }
  .kingHeaderGgei {
    left: 303px;
    top: -282px;
  }
  .alexisHeaderGgei {
    left: -51px;
    top: 34px;
  }
}

@media (min-width: 640px) {
  .nameKingGgei {
    transform: translate(-41px, 71.5px);
  }
  .alexisNameGgei {
    transform: translate(373px, 31px);
  }
  .kingHeaderGgei {
    left: 404px;
    top: -357px;
  }
  .alexisHeaderGgei {
    left: 1px;
    top: -7px;
  }
}

@media (min-width: 768px) {
  .nameKingGgei {
    transform: translate(-25px, 71px);
  }
  .alexisNameGgei {
    transform: translate(492px, 41px);
  }
  .bankSummitSection {
    /* min-width: 640px; */
  }
  .kingHeaderGgei {
    width: 427px !important;
    height: 236px !important;
    left: 444px;
    top: -318px;
  }
  .kingHeaderGgeiImg {
    width: 294px;
    transform: rotate(31deg) scaleX(1);
    margin-left: -3rem;
    margin-top: 0rem;
  }
  .alexisHeaderGgei {
    width: 418px !important;
    height: 236px !important;
    top: 51px;
    left: 4px;
  }
  .alexisHeaderGgeiImg {
    width: 237px;
    height: 253px;
  }
}

@media (min-width: 850px) {
  .kingHeaderGgei {
    top: -307px;
    left: 504px;
  }
}

@media (min-width: 890px) {
  .alexisHeaderGgei {
    top: 67px;
    left: -21px;
  }
}

@media (min-width: 1024px) {
  .slantedDivGgei {
    transform: translate(189px, -42px) rotate(45deg);
  }
  .nameKingGgei {
    transform: translate(-70px, 253px);
  }
  .alexisNameGgei {
    transform: translate(597px, 38px);
  }

  .kingHeaderGgei {
    width: 600px !important;
    left: 475px;
    top: -645px;
    height: 300px !important;
  }

  .kingHeaderGgeiImg {
    width: 441px;
    height: 479px;
    margin-left: -6rem;
    margin-top: 0rem;
  }

  .alexisHeaderGgei {
    width: 600px !important;
    height: 300px !important;
    top: -151px;
    left: 262px;
  }

  .alexisHeaderGgeiImg {
    width: 241px;
    height: 255px;
    margin-right: 0rem;
    margin-top: 0rem;
  }

  .slantedDivGgei {
    transform: translate(189px, -48px) rotate(45deg);
    width: 500px !important;
  }
}

@media (min-width: 1081px) {
  .kingHeaderGgei {
    left: 521px;
    top: -598px;
  }
  .alexisHeaderGgei {
    top: -84px;
    left: 285px;
  }
}

@media (min-width: 1160px) {
  /* .kingHeaderGgei {
    left: 602px;
    top: -629px;
  }
  .alexisHeaderGgei {
    top: -46px;
    left: 350px;
  } */
}

@media (min-width: 1300px) {
  .alexisHeaderGgei {
    top: -83px;
    left: 409px;
  }

  .kingHeaderGgei {
    left: 563px;
    top: -558px;
  }
  .slantedDivGgei {
    transform: translate(224px, -48px) rotate(45deg);
    width: 643px !important;
  }
}

@media (min-width: 1380px) {
  .kingHeaderGgei {
    left: 612px;
    top: -563px;
  }
  .alexisHeaderGgei {
    top: -84px;
    left: 461px;
  }
  .alexisHeaderGgeiImg {
    width: 241px;
    height: 267px;
  }
}

@media (min-width: 1497px) {
  .kingHeaderGgei {
    left: 776px;
    top: -563px;
  }

  .alexisHeaderGgei {
    top: -52px;
    left: 577px;
  }
}

@media (min-width: 1536px) {
  .nameKingGgei {
    transform: translate(-81px, 253px);
  }
  .kingHeaderGgei {
    left: 776px;
    top: -548px;
  }
  .alexisHeaderGgei {
    top: -10px;
    left: 577px;
  }
}
@media (min-width: 1600px) {
  .alexisHeaderGgei {
    top: -12px;
    left: 660px;
  }
  .alexisHeaderGgei {
    top: -12px;
    left: 660px;
  }
}

@media (min-width: 1680px) {
  .kingHeaderGgei {
    left: 1097px;
    top: -528px;
  }
  .alexisHeaderGgei {
    top: -14px;
    left: 590px;
  }
}

@media (min-width: 2000px) {
  .bankSummitSection {
    width: 2200px;
  }
  .slantedDivGgei {
    transform: translate(246px, -48px) rotate(45deg);
    width: 762px !important;
    height: 348px;
  }
  .kingHeaderGgei {
    left: 1279px;
    top: -523px;
  }

  .alexisHeaderGgei {
    top: -20px;
    left: 760px;
  }
}

@media (min-width: 2150px) {
  .alexisHeaderGgei {
    top: -13px;
    left: 832px;
  }
}
