.bankSummitKingName {
  transform: translate(-3px, 50px);
}
.bankSummitAlexisName {
  transform: translate(332px, -51px);
}
/* ============== MEDIA QUERIES FOR GGEI PAGE HEADER IMAGES ================ */
.bankSummitAlexisImg {
  position: absolute;
  right: 31px;
  top: -18px;
  object-fit: contain;
  height: 300px;
  width: 178px;
}

@media (min-width: 397px) {
  .bankSummitAlexisName {
    transform: translate(356px, -12px);
  }
  .bankSummitKingHeader {
    left: 201px;
    top: -401px;
  }

  .bankSummitAlexisImg {
    right: 55px;
    top: -26px;
    height: 420px;
    width: 200px;
  }
}

@media (min-width: 420px) {
  .bankSummitKingHeader {
    left: 212px;
    top: -294px;
  }
  .bankSummitAlexisHeader {
    left: -107px;
    top: 43px;
  }
  .bankSummitAlexisName {
    transform: translate(374px, 15px);
  }
  .bankSummitSlantedDiv {
    width: 405px !important;
  }
}

@media (min-width: 475px) {
  .bankSummitKingHeader {
    left: 266px;
  }
  .bankSummitAlexisHeader {
    left: -65px;
    top: 23px;
  }
  .bankSummitAlexisImg {
    right: 24px;
    top: -5px;
    height: 212px;
    width: 197px;
    object-fit: cover;
  }
}

@media (min-width: 550px) {
  .bankSummitAlexisName {
    transform: translate(382px, 30px);
  }
  .bankSummitKingName {
    transform: translate(-16px, 58.5px);
  }
  .bankSummitKingHeader {
    left: 303px;
    top: -282px;
  }
  .bankSummitAlexisHeader {
    left: -51px;
    top: 34px;
  }
}

@media (min-width: 640px) {
  .bankSummitKingName {
    transform: translate(-41px, 71.5px);
  }
  .bankSummitAlexisName {
    transform: translate(373px, 31px);
  }
  .bankSummitKingHeader {
    left: 404px;
    top: -357px;
  }
  .bankSummitAlexisHeader {
    left: 1px;
    top: -7px;
  }
  .bankSummitAlexisImg {
    right: 15px;
    top: -2px;
  }
}

@media (min-width: 768px) {
  .bankSummitKingName {
    transform: translate(-21px, 64px);
  }
  .bankSummitAlexisName {
    transform: translate(502px, 51px);
  }
  .bankSummitSection {
    /* min-width: 640px; */
  }
  .bankSummitKingHeader {
    width: 427px !important;
    height: 236px !important;
    left: 444px;
    top: -318px;
  }
  .bankSummitKingImg {
    width: 294px;
    transform: rotate(31deg) scaleX(1);
    margin-left: -3rem;
    margin-top: 0rem;
  }
  .bankSummitAlexisHeader {
    width: 418px !important;
    height: 236px !important;
    top: 51px;
    left: 4px;
  }
  .bankSummitAlexisImg {
    width: 237px;
    height: 253px;
  }
}

@media (min-width: 800px) {
  .bankSummitAlexisImg {
    width: 237px;
    height: 274px;
    right: 25px;
    top: -2px;
  }
}

@media (min-width: 850px) {
  .bankSummitKingHeader {
    top: -307px;
    left: 504px;
  }
}

@media (min-width: 890px) {
  .bankSummitAlexisHeader {
    top: 67px;
    left: -21px;
  }
}

@media (min-width: 1024px) {
  .bankSummitSlantedDiv {
    transform: translate(189px, -42px) rotate(45deg);
  }
  .bankSummitKingName {
    transform: translate(-70px, 253px);
  }
  .bankSummitAlexisName {
    transform: translate(584px, 10px);
  }

  .bankSummitKingHeader {
    width: 600px !important;
    left: 475px;
    top: -645px;
    height: 300px !important;
  }

  .bankSummitKingImg {
    width: 441px;
    height: 479px;
    margin-left: -6rem;
    margin-top: 0rem;
  }

  .bankSummitAlexisHeader {
    width: 600px !important;
    height: 300px !important;
    top: -151px;
    left: 262px;
  }

  /* .bankSummitAlexisImg {
    width: 241px;
    height: 255px;
    margin-right: 0rem;
    margin-top: 0rem;
  } */
  .bankSummitAlexisImg {
    width: 242px;
    height: 260px;
    right: 63px;
    top: -12px;
  }
  .bankSummitSlantedDiv {
    transform: translate(189px, -48px) rotate(45deg);
    width: 500px !important;
  }
}

@media (min-width: 1081px) {
  .bankSummitKingHeader {
    left: 521px;
    top: -598px;
  }
  .bankSummitAlexisHeader {
    top: -84px;
    left: 285px;
  }
}

@media (min-width: 1160px) {
  /* .kingHeaderGgei {
    left: 602px;
    top: -629px;
  }
  .alexisHeaderGgei {
    top: -46px;
    left: 350px;
  } */
}

@media (min-width: 1300px) {
  .bankSummitAlexisHeader {
    top: -83px;
    left: 409px;
  }

  .bankSummitKingHeader {
    left: 563px;
    top: -558px;
  }
  .bankSummitSlantedDiv {
    transform: translate(224px, -48px) rotate(45deg);
    width: 643px !important;
  }
}

@media (min-width: 1380px) {
  .bankSummitKingHeader {
    left: 612px;
    top: -563px;
  }
  .bankSummitAlexisHeader {
    top: -84px;
    left: 461px;
  }
  .bankSummitAlexisImg {
    width: 241px;
    height: 267px;
  }
}

@media (min-width: 1497px) {
  .bankSummitKingHeader {
    left: 776px;
    top: -563px;
  }

  .bankSummitAlexisHeader {
    top: -52px;
    left: 577px;
  }
}

@media (min-width: 1536px) {
  .bankSummitKingName {
    transform: translate(-81px, 253px);
  }
  .bankSummitAlexisName {
    transform: translate(579px, 20px);
  }
  .bankSummitKingHeader {
    left: 776px;
    top: -548px;
  }
  .bankSummitAlexisHeader {
    top: -10px;
    left: 577px;
  }
  .bankSummitAlexisImg {
    width: 252px;
    height: 281px;
    right: 52px;
    top: -9px;
  }
}
@media (min-width: 1600px) {
  .bankSummitAlexisHeader {
    top: -12px;
    left: 660px;
  }
  .bankSummitAlexisHeader {
    top: -12px;
    left: 660px;
  }
}

@media (min-width: 1680px) {
  .bankSummitKingHeader {
    left: 1097px;
    top: -528px;
  }
  .bankSummitAlexisHeader {
    top: -14px;
    left: 590px;
  }
}

@media (min-width: 2000px) {
  /* .bankSummitSection {
    width: 2200px;
  } */
  .bankSummitSlantedDiv {
    transform: translate(246px, -48px) rotate(45deg);
    width: 762px !important;
    height: 348px;
  }
  .bankSummitKingHeader {
    left: 1279px;
    top: -523px;
  }

  .bankSummitAlexisHeader {
    top: -20px;
    left: 760px;
  }
}

@media (min-width: 2150px) {
  .bankSummitAlexisHeader {
    top: -13px;
    left: 832px;
  }
}
