.custom-header-bg {
  background-image: url('/images/podcastbgDesktop.png');
  background-size: cover;
  background-position: left;
  opacity: 1;
}

@media (min-width: 640px) {
  .custom-header-bg {
    /* background-image: url('/images/podcastbgDesktop.png'); */
    background-position: center;
  }
}

@media (min-width: 2200px) {
  .controlGlow {
    right: -194%;
    bottom: -49%;
  }
}
