.custom-header-bg {
  background-image: url('/images/podcastbgDesktop.png');
  background-size: cover;
  background-position: left;
  opacity: 1;
}

@media (min-width: 640px) {
  .custom-header-bg {
    /* background-image: url('/images/podcastbgDesktop.png'); */
    background-position: center;
  }
}

@media (min-width: 2200px) {
  .controlGlow {
    right: -194%;
    bottom: -49%;
  }
}

/* ============== MEDIA QUERIES FOR GGEI PAGE HEADER IMAGES ================ */
    
@media (min-width: 398px) {
  .kingHeaderGgei {
 left: 201px;
  }
  .alexisHeaderGgei{
    left: -125px;
    top: 60px;
  }
}


@media (min-width: 420px) {
  .kingHeaderGgei {
    left: 212px;
    top: -294px;
  }
}

@media (min-width: 475px) {
  .kingHeaderGgei {
 left: 266px;
  }
    .alexisHeaderGgei {
        left: -65px;
        top: 68px;
    }
}

@media (min-width: 550px) {
  .kingHeaderGgei {
    left: 306px;
    top: -249px;
  }

  .slantedDivGgei {
    width: 400px !important;
    transform: translate(189px, -95px) rotate(45deg);
  }
}

@media (min-width: 575px) {
    .kingHeaderGgei {
             left: 344px;
        top: -222px;
    }
        .alexisHeaderGgei {
        left: -75px;
        top: 84px;
    }
}

@media (min-width: 620px) {
   .kingHeaderGgei {
             left: 392px;
    }
    .alexisHeaderGgei {
        left: -75px;
        top: 99px;
    }
}

@media (min-width: 768px) {
  .kingHeaderGgei {
    width: 427px !important;
    height: 236px !important;
    left: 406px;
    top: -353px;
  }
  .kingHeaderGgeiImg {
    width: 294px;
    transform: rotate(31deg) scaleX(1);
    margin-left: -3rem;
    margin-top: 0rem;
  }
  .alexisHeaderGgei {
    width: 418px !important;
    height: 236px !important;
    top: 19px;
    left: 109px;
  }
}

@media (min-width: 814px) {
    .kingHeaderGgei {
        left: 455px;
    }
        .alexisHeaderGgei {
        top: 15px;
        left: 118px;
    }
}

@media (min-width: 1024px) {
  .slantedDivGgei {
    transform: translate(189px, -42px) rotate(45deg);
  }

  .kingHeaderGgei {
    width: 600px !important;

        left: 466px;
        top: -608px;
        height: 300px !important;
  }

  .kingHeaderGgeiImg {
    width: 441px;
    height: 479px;
    margin-left: -6rem;
    margin-top: 0rem;
  }

  .alexisHeaderGgei {
    width: 600px !important;
   height: 300px !important;
        top: -59px;
        left: 297px;
  }
  .alexisHeaderGgeiImg {
    width: 267px;
    height: 337px;
    margin-right: 1rem;
    margin-top: -1rem;
  }

  .slantedDivGgei {
    transform: translate(189px, -48px) rotate(45deg);
    width: 500px !important;
  }
}

@media (min-width: 1160px) {
    .kingHeaderGgei {
        left: 466px;
        top: -584px;
    }
    .alexisHeaderGgei {
        top: -59px;
        left: 352px;
    }
}

@media (min-width: 1300px) {
    .alexisHeaderGgei {
        top: -58px;
        left: 421px;
    }

        .kingHeaderGgei {
        left: 563px;
        top: -584px;
    }
        .slantedDivGgei {
        transform: translate(224px, -48px) rotate(45deg);
        width: 643px !important;
    }
}

@media (min-width: 1497px) {
    .kingHeaderGgei {
        left: 667px;
        top: -536px;
    }

    .alexisHeaderGgei {
        top: -27px;
        left: 495px;
    }
}

@media (min-width: 1600px) {
    .kingHeaderGgei {
        left: 757px;
        top: -534px;
    }
     .alexisHeaderGgei {
        top: -49px;
        left: 631px;
    }
}

@media (min-width: 1680px) {
    .kingHeaderGgei {
        left: 1097px;
        top: -528px;
    }
    .alexisHeaderGgei {
        top: -59px;
        left: 601px;
    }
}

@media (min-width: 2115px) {
       .kingHeaderGgei {
        left: 1279px;
        top: -523px;
    }

        .alexisHeaderGgei {
        top: -59px;
        left: 760px;
    }
}