@tailwind base;
@tailwind components;
@tailwind utilities;

/* .hero{
    background-image: url(../src/assets/images/page-one/heroBg.png);
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vid-sec {
    background-image: url(../src/assets/images/page-one/sectiontwoBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-sec {
    background-image: url(../src/assets/images/page-one/cardsecBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.step-sec {
    background-image: url(../src/assets/images/page-one/cardsecBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.who-sec {
    background-image: url(../src/assets/images/page-one/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.last-sec {
    background-image: url(../src/assets/images/page-one/lastpageBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
.phero-sec {
  background-image: url(../src/assets/images/page-two/heroBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.psec-two {
  background-image: url(../src/assets/images/page-two/sectwo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.podcast-sec {
  background-image: url(../src/assets/images/page-two/podcastBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-sec {
  background-image: url(../src/assets/images/page-two/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'Beauty Wind';
  src: url('/src/assets/fonts/BeautyWind.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url('/src/assets/fonts/MinionPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url('/src/assets/fonts/MinionPro-Medium.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minion Pro';
  src: url('/src/assets/fonts/MinionPro-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
} */

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
} */

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adelia';
  src: url('/fonts/adelia.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.mil-preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
